.header {
  margin-bottom: -0.5cm;
  padding-bottom: 0cm;
}
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


.carousel {
  margin-bottom: 0px;
}

.carousel-caption {
  z-index: 1;
}

.carousel .item {
  height: 650px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 650px;
  width: 100%;
}


@media (min-width: 768px) {


  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

 
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; 
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

.navbar {
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

#services {
  height: 380px;
  position: static;
}
.container {
  padding-top: 25px;
}
.parallax { 
/* The image used */
    background-image: url("images/img11.jpg");

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

